body{
  font-size: 21px;
  @include tv(){
    font-size: 19px;
  }
  @include desktop(){
    font-size: 17px;
  }
  @include tablet(){
    font-size: 15px;
  }
  @include phone(){
    font-size: 13px;
  }
}
