body{
  font-size: 21px;
  @include tv(){
    font-size: 19px;
  }
  @include desktop(){
    font-size: 17px;
  }
  @include tablet(){
    font-size: 15px;
  }
  @include phone(){
    font-size: 13px;
  }
}

.h2{
  font-size: $size2;
  font-weight: 500;
  line-height: 1.1em;
}
